In [1]:
import pandas as pd 
df = pd.read_csv('world.csv')
df1 = df[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]
df1

        洲名   國家          日期    總確診數  新增確診數      總人口數     解封指數
0       亞洲  阿富汗  2020-02-24       5      5  39835428  99999.0
1       亞洲  阿富汗  2020-02-25       5      0  39835428  99999.0
2       亞洲  阿富汗  2020-02-26       5      0  39835428  99999.0
3       亞洲  阿富汗  2020-02-27       5      0  39835428  99999.0
4       亞洲  阿富汗  2020-02-28       5      0  39835428  99999.0
...     ..  ...         ...     ...    ...       ...      ...
187880  非洲  辛巴威  2022-07-02  255586      0  15092171  99999.0
187881  非洲  辛巴威  2022-07-03  255586      0  15092171  99999.0
187882  非洲  辛巴威  2022-07-04  255726    140  15092171  99999.0
187883  非洲  辛巴威  2022-07-05  255755     29  15092171  99999.0
187884  非洲  辛巴威  2022-07-06  255805     50  15092171  99999.0

[187885 rows x 7 columns]

In [2]:
taiwan = df1.query('國家=="台灣"')
taiwan

        洲名  國家          日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20        0      0  23855008  99999.00
...     ..  ..         ...      ...    ...       ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [3]:
taiwan.query('日期>="2020-01-16" and 日期<="2020-12-31"')

        洲名  國家          日期  總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16     0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17     0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18     0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19     0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20     0      0  23855008  99999.00
...     ..  ..         ...   ...    ...       ...       ...
164332  亞洲  台灣  2020-12-27   785      2  23855008      0.21
164333  亞洲  台灣  2020-12-28   793      8  23855008      0.22
164334  亞洲  台灣  2020-12-29   795      2  23855008      0.21
164335  亞洲  台灣  2020-12-30   797      2  23855008      0.21
164336  亞洲  台灣  2020-12-31   799      2  23855008      0.20

[351 rows x 7 columns]

In [5]:
country = input("請輸入國家")
country_df = df1.query('國家==@country')
_2021_country = country_df.query('日期>="2021-01-01" and 日期<="2021-12-31"')
median = int(_2021_country['新增確診數'].median())
_2021_country.query('新增確診數>@median')

        洲名  國家          日期   總確診數  新增確診數      總人口數  解封指數
164352  亞洲  台灣  2021-01-16    851      8  23855008  0.14
164357  亞洲  台灣  2021-01-21    881     11  23855008  0.14
164366  亞洲  台灣  2021-01-30    909     10  23855008  0.11
164413  亞洲  台灣  2021-03-18    998      8  23855008  0.05
164459  亞洲  台灣  2021-05-03   1145      8  23855008  0.09
...     ..  ..         ...    ...    ...       ...   ...
164697  亞洲  台灣  2021-12-27  16931     16  23855008  0.20
164698  亞洲  台灣  2021-12-28  16950     19  23855008  0.20
164699  亞洲  台灣  2021-12-29  16964     14  23855008  0.20
164700  亞洲  台灣  2021-12-30  16988     24  23855008  0.21
164701  亞洲  台灣  2021-12-31  17029     41  23855008  0.21

[168 rows x 7 columns]